@import './styles/typography.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('./img/dialog_bg.jpg');
}

.btn {
    @apply font-bold leading-4 text-white transition-all font-general;

    &:active,
    &:hover {
        @apply text-black bg-white;
    }
}

.bg-inverted {
    background-image: url('./img/dialog_bg_inverted.jpg');
}

.logo {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
        0.025em 0.04em 0 #fffc00;
}